body {
  background: #fdfaf6;
  margin: 30px;
  font-family: 'Roboto', sans-serif;
}

.weather-app {
  background: #fffefd;
  max-width: 700px;
}

h1,
.map-pin,
a,
a:hover {
  color: #00adb5;
}

h1,
#temperature {
  font-weight: 900;
}

#temperature,
#signature,
.weather-forecast,
ul {
  color: #6d767e;
  opacity: 85%;
}

#temperature {
  font-size: 50px;
  display: inline-block;
}

hr {
  border-top: 1.7px solid #00adb5;
}

button:hover {
  opacity: 65%;
}

.buttons {
  width: fit-content;
  margin-left: 2px !important;
}

#geolocation-button {
  width: 75px !important;
}

#search-form {
  justify-content: flex-start;
}

.units {
  font-size: 20px;
  position: relative;
  top: -23px;
  left: -2px;
}

a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  font-weight: 400;
}

#signature {
  text-align: center;
  margin-top: 1rem;
}

.input-wrapper {
  width: 50%;
}

.weather-forecast {
  justify-content: space-between;
}

.weather-forecast img {
  width: 50px;
}

.weather-forecast-date {
  font-size: 18px;
  padding-left: 10px;
}

.max-temp {
  font-weight: bold;
}

.humidity-wind {
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li::first-letter {
  text-transform: capitalize;
}

.current-weather img {
  margin-bottom: -30px;
  vertical-align: baseline;
}

.current-weather .active {
  color: #6d767e;
  cursor: default;
  font-weight: bold;
}
