body {
  background: #fdfaf6;
  margin: 30px;
  font-family: 'Roboto', sans-serif;
}

.weather-app {
  background: #fffefd;
  max-width: 700px;
}

.map-pin {
  color: #00adb5;
}

h1 {
  font-weight: 900;
  color: #00adb5;
}

#temperature {
  font-size: 50px;
  font-weight: 900;
  color: #6d767e;
  opacity: 85%;
  display: inline-block;
}

hr {
  color: #00adb5;
  border-top: 1.5px solid #00adb5;
}

p {
  color: #6d767e;
  opacity: 85%;
}

button:hover {
  opacity: 85%;
}

.units {
  font-size: 20px;
  position: relative;
  top: -23px;
  left: -2px;
}

a {
  text-decoration: none;
  font-weight: 400;
  color: #00adb5;
}

#signature {
  text-align: center;
  margin-top: 1rem;
  color: #6d767e;
  opacity: 85%;
}

.input-wrapper {
  width: 50%;
}

.buttons {
  width: fit-content;
  margin-left: 2px !important;
}

#geolocation-button {
  width: 75px !important;
}

#search-form {
  justify-content: flex-start;
}

.five-day-weather {
  justify-content: space-between;
}

.humidity-wind {
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
  color: #6d767e;
  opacity: 85%;
}

li::first-letter {
  text-transform: capitalize;
}

.current-weather img {
  margin-bottom: -30px;
  vertical-align: baseline;
}
